#spellBook {
}

.card {
  background-color: #DDD0E4;
  color: #382c3f;
  padding: 20px;
  width: 320px;
  position: relative;
  display: inline-block;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  text-align: left;
  margin: 10px; 
}

.grid-item { width: 350px; }
.grid-item--width2 { width: 720px; }

.name {
  color: #BB0A1A;
  font-family: 'Raleway', sans-serif;
  font-size: 16pt;
  text-transform: uppercase;
  margin-bottom: 5px;
  text-align: center;
}

.school{
  color: #BB0A1A;
  font-family: 'Raleway', sans-serif;
  font-size: 8pt;
  text-transform: uppercase;
  text-align: center;
}

.level{
  color: #796982;
  font-family: 'Raleway', sans-serif;
  font-size: 8pt;
  text-transform: uppercase;
  margin-bottom: 20px; 
  text-align: center;
}

.savingThrow{
  color: #796982;
  font-family: 'Raleway', sans-serif;
  font-size: 8pt;
  text-transform: uppercase;
  text-align: center;
}

.spellResistance{
  color: #796982;
  font-family: 'Raleway', sans-serif;
  font-size: 8pt;
  text-transform: uppercase;
  margin-bottom: 20px; 
  text-align: center;
}

.cardLabel {
  position: absolute;
  left: 20px;
  color: #382c3f;
  font-family: 'Raleway', sans-serif;
  font-size: 8pt;
  text-transform: uppercase;
}

.cardStat {
  position: relative;
  left: 100px;
  color: #382c3f;
  font-family: 'Raleway', sans-serif;
  font-size: 10pt;
}

.description {
  margin-top: 20px;
  font-size: 8pt;
}

ul {
  list-style-type: none;
}

itemSelector:'.grid-item'