#spellBook {
}

.card {
  background-color: #FFFFFF;
  color: #796982;
  width: 240px;
  height: 400px;
  overflow: hidden;
  padding: 20px;
  position: relative;
  display: inline-block;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  text-align: left;
  margin: 10px; 
}

.name {
  color: #382c3f;
  font-family: 'Raleway', sans-serif;
  font-size: 14pt;
  text-transform: uppercase;
  margin-bottom: 5px;
  text-align: center;
}

.school{
  color: #382c3f;
  font-family: 'Raleway', sans-serif;
  font-size: 8pt;
  text-transform: uppercase;
  text-align: center;
}

.level{
  color: #796982;
  font-family: 'Raleway', sans-serif;
  font-size: 8pt;
  text-transform: uppercase;
  margin-bottom: 20px; 
  text-align: center;
}

.savingThrow{
  color: #796982;
  font-family: 'Raleway', sans-serif;
  font-size: 8pt;
  text-transform: uppercase;
  text-align: center;
}

.spellResistance{
  color: #796982;
  font-family: 'Raleway', sans-serif;
  font-size: 8pt;
  text-transform: uppercase;
  margin-bottom: 20px; 
  text-align: center;
}

.spellTable th {
  color: #796982;
  font-family: 'Raleway', sans-serif;
  font-size: 8pt;
  text-transform: uppercase;
  border-top: none !important; 
}

.spellTable td {
  color: #382c3f;
  font-family: 'Raleway', sans-serif;
  font-size: 8pt;
  border-top: none !important; 
}

.description {
  margin-top: 20px;
  font-size: 8pt;
}

ul {
  list-style-type: none;
}